/*PORTFOLIO STYLES*/

  #portfolio-title {
    text-transform: uppercase;
    font-size: 3em;
  }

  .workFigure {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    transform: scale(.9);
    transition: transform 0.6s ease-in-out;
  }

  .workFigure img {
    opacity: 0.7;
    transform: scale(.9);
    transition: transform 0.6s ease-in-out;
  }

  .workFigure img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.7;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(8, 8, 8, 0.16);
    margin-bottom: 1.7em;
  }

  .workFigure figcaption {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /*.workFigure figcaption:hover {
    letter-spacing: .25em;
    margin-top: 1em;
  }*/

  .workFigure h2 {
    font-family: 'Prata', serif;
    font-style: italic;
    position: relative;
    font-size: 2.1em;
  }

  .description-paragraph {
    display: flex;
    flex-flow: column wrap;
  }

  .workFigure p {
    position: relative;
    font-size: 1.2em;
  }

  .work1 {
    z-index: 1;

  }

  .image1 {
    background-image: image("../../assets/portfolio1.png");

  }

  .work2 img {
    z-index: 2;
  }

  .work3 img {
    z-index: 3;
  }

  .work4 img {
    z-index: 4;
  }


  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

  }
