/*RESUME STYLES*/

  #resume {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    color: rgb(122, 122, 122);
  }

  .resumeDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .resumeDiv h2 {
    text-transform: uppercase;
    font-size: 3em;
  }

  .resumeDiv p {
    margin-top: -.5em;
    font-size: 1em;
  }
