/*CONTACT STYLES*/

  .contact {
    display: flex;
    margin-bottom: 2em;
  }

  .contact-h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    color: rgb(122, 122, 122);
  }

  .contactDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
    color: rgb(122, 122, 122);
  }
