@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");

* {
  list-style: none;
  margin: 0;
  /*padding: 0;*/
}

a {
  text-decoration: none;
}

body {
  font-family: 'Josefin Slab', serif;
}
